<ion-card class="ion-padding">
  <ion-card-title>Foro</ion-card-title>

  <form>

    <!-- Publicador -->
    <ion-list>
      <ion-item>
        <ion-select placeholder="Selecciona tu usuario" [(ngModel)]="selectedUserId" (ngModelChange)="cambiarUsuario($event)" [ngModelOptions]="{standalone: true}">
          <div slot="label">Publicador</div>
          <ion-select-option *ngFor="let u of usuarios" [value]="u.id">{{ u.name }}</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-list>
  </form>

  <ion-card-title>Ingresa tu publicación</ion-card-title>

    <!-- Input Título -->
  <ion-item>
    <ion-input type="text" label="Título" name="titulo" placeholder="Escriba aquí"></ion-input>
  </ion-item>

  <!-- Input Cuerpo -->
  <ion-item>
    <ion-textarea label="Cuerpo" placeholder="Escriba aquí"></ion-textarea>
  </ion-item>
  
  <!-- Botones -->
  <div>
    <!-- Boton Limpiar -->
    <ion-button size="small" (click)="limpiar()" fill="clear">
      Limpiar
    </ion-button>
    <!-- Boton Publciar -->
    <ion-button size="small" color="warning" (click)="publicar()">
      Publicar
    </ion-button>
  </div>

  <ion-card-title>Publicaciones recientes</ion-card-title>

  <ion-card *ngFor="let p of publicaciones; let i=index; trackBy: getIdentificadorItemPublicacion">

    <ion-card-header>
      <h6>(Publicación #{{p.id}}) {{p.name}}</h6>
      <h4>{{p.title}}</h4>
    </ion-card-header>
  
    <ion-card-content>
      {{p.body}}
    </ion-card-content>

    <ion-button (click)="editarPublicacion(p)">
      <ion-icon slot="icon-only" name="pencil-outline"></ion-icon>
    </ion-button>

    <ion-button (click)="eliminarPublicacion(p)">
      <ion-icon slot="icon-only" name="trash-outline"></ion-icon>
    </ion-button>

  </ion-card>

</ion-card>