#container {
    text-align: center;
  
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
  }
  
  #container strong {
    font-size: 20px;
    line-height: 26px;
  }
  
  #container p {
    font-size: 16px;
    line-height: 22px;
  
    color: #8c8c8c;
  
    margin: 0;
  }
  
  #container a {
    text-decoration: none;
  }
  .contenedorLogo{
    display: flex;
    justify-content: flex-start;
  }
  .tituloSistema{
    
    display: flex;
    align-items: center;
  }
  
  .botonQR{
  
    display: flex;
    justify-content: center;
  }
  
  .background-image {
    position: fixed;
    left: 0;
    right: 0;
    display: block;
    // background-image: url('../../assets/images/fondo.jpg');
    background-image: url('../../../assets/images/fondo.jpg');
    width: 100%;
    height: 100%;
    -webkit-filter: blur(15px);
    -moz-filter: blur(15px);
    -o-filter: blur(15px);
    -ms-filter: blur(15px);
    filter: blur(15px);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.5;
  }
  
  .content {
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: column;
    justify-content: center;
  }
  
  .gray-opaque {
    background-color: rgba(30,30,30,.9);
    
  }
  