<ion-content [fullscreen]="true" class="background">
  <div class="header">
    <ion-grid fixed class="gray-opaque">
      <ion-row>
        <ion-col>
          <ion-img class="ion-padding-horizontal ion-padding-vertical"
            src="../../assets/images/Logo_DuocUC.svg"></ion-img>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-title class="ion-text-center ion-padding-vertical">
            <h1>Sistema de Asistencia DuocUC</h1>
          </ion-title>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

  <div class="ion-padding-vertical flex-align-center">
    <ion-card class="ion-text-center ion-padding-vertical gray-opaque">


      <ion-card-title class="ion-text-center">
        <!-- Caja que tiene todos los contenidos dentro -->
        <ion-label>
          <h2>Recuperar contraseña</h2>
          <br>
          <h3>Paso: 1 ingresa tu correo</h3>
        </ion-label>
      </ion-card-title>

      <form>

        <ion-card-content>

          <ion-item>
            <ion-input name="correo" label="Correo" labelPlacement="floating" [(ngModel)]="correo"
              type="text"></ion-input>
          </ion-item>

          <ion-button (click)="Recuperar()" size="small" color="warning" shape="block">
            Recuperar Contraseña
          </ion-button>


        </ion-card-content>

      </form>

      <ion-label>
        <br>
        <a routerLink="">Iniciar sesión</a>
      </ion-label>
    </ion-card>
  </div>

</ion-content>