<!-- Header -->
<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-grid >
      <ion-row class="contenedorLogo">
        <ion-col style="max-width: 185px;">
          <ion-img src="../../assets/images/Logo_DuocUC.svg"></ion-img>
        </ion-col>
        <ion-col class="tituloSistema" style="max-width: 300px;">
          <ion-title #titulo style="max-width: 300px;">
            Sistema de Asistencia Duoc
          </ion-title>
        </ion-col>
        <ion-col>
          <ion-button color="warning" style="max-width: 10px;" (click)="signOut()" expand="block" fill="clear" shape="round">
            <ion-icon slot="start" name="log-out"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
  <ion-toolbar>
    <ion-segment value="qr" (ionChange)="segmentChanged($event)">

      <ion-segment-button value="qr">
        <ion-label>QR</ion-label>
      </ion-segment-button>

      <ion-segment-button value="mi-clase">
        <ion-label>Mi Clase</ion-label>
      </ion-segment-button>

      <ion-segment-button value="foro">
        <ion-label>Foro</ion-label>
      </ion-segment-button>

      <ion-segment-button value="mis-datos">
        <ion-label>Perfil</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content >
  <div class="background-image"></div>
  <div class="content">
    <ion-router-outlet>


    </ion-router-outlet>
  </div>  
</ion-content>
